@page "/shoppinglistitem/displayitem/{ShoppingListItemID:int}"

@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListClient Client

<h3>Display Shopping Item</h3>

<div class="container" style="font-size: 18px">
    <div class="row">
        <dl class="col-md-6 dl-horizontal">
            <dt>
                Name
            </dt>

            <dd>
                @shoppingListItem.ItemName
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                @shoppingListItem.Price
            </dd>

            <dt>
                Qty
            </dt>

            <dd>
                @shoppingListItem.Quantity
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color esh-link-list" style="font-size: 18px">
        <a href="@($"/shoppinglistitem/edititem/{shoppingListItem.ShoppingListItemID}")" class="esh-link-item">
            Edit Item
        </a>
        |
        <a href="@($"/shoppinglistitem/displaylist/{shoppingListItem.ShoppingListItemID}")" class="esh-link-item">
            Back to Shopping List
        </a>
    </div>
</div>

@code {
    [Parameter]
    public int ShoppingListItemID { get; set; }

    private ShoppingListItem shoppingListItem = new ShoppingListItem();

    protected override async Task OnInitializedAsync()
    {
        shoppingListItem = await Client.GetShoppingListItem(ShoppingListItemID);
    }
}