@page "/shoppinglist/displaylist"
@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListItemClient Client

<h3>Shopping List - @shoppingDate.ToString("dd-MMM-yyyy")</h3>

<div class="form-actions no-color esh-link-list" style="padding-bottom: 20px">
    <a href="@($"/shoppinglist/additem")" class="esh-link-item">
        Create
    </a>
</div>

@if (shoppingListItems == null)
{
    <p><em>Loading...</em></p>
}
else if (!shoppingListItems.Any())
{
    <p><em>There are currently no shopping list items</em></p>
}
else
{
    <table>
        <tr>
            <th>
                Item
            </th>
            <th>
                Price
            </th>
            <th>
                Qty
            </th>
            <th>
                Picked
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var shoppingListItem in shoppingListItems)
        {
            <tr style="@(shoppingListItem.ItemPicked || shoppingListItem.Quantity == 0 ? "text-decoration: line-through" : "")">
                <td>
                    @shoppingListItem.Name
                </td>
                <td>
                    @shoppingListItem.Price
                </td>
                <td>
                    @shoppingListItem.Quantity
                </td>
                <td>
                    @if (shoppingListItem.ItemPicked)
                    {
                        <input type=checkbox @onchange="(() => PickShoppingItem(shoppingListItem.ID))" checked />
                    }
                    else
                    {
                        <input type=checkbox @onchange="(() => PickShoppingItem(shoppingListItem.ID))" />
                    }
                </td>
                <td>
                    <a href="@($"shoppinglist/displayitem/{shoppingListItem.ID}")" class="esh-table-link">
                        Display
                    </a>
                </td>
                <td>
                    <a href="@($"shoppinglist/edititem/{shoppingListItem.ID}")" class="esh-table-link">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="@($"shoppinglist/deleteitem/{shoppingListItem.ID}")" class="esh-table-link">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
}

@code {
    private DateTime shoppingDate = DateTime.UtcNow;

    protected List<ShoppingListItem> shoppingListItems;
    protected ShoppingListItem shoppingListItem = new ShoppingListItem();

    protected override async Task OnInitializedAsync()
    {
        shoppingListItems = await Client.GetShoppingListItems();
    }

    private async Task PickShoppingItem(Guid ID)
    {
        var shoppingListItemToUpdate = shoppingListItems.First(x => x.ID == ID);

        if (shoppingListItemToUpdate != null)
        {
            shoppingListItemToUpdate.ItemPicked = !shoppingListItemToUpdate.ItemPicked;
        }

        await Client.UpdateShoppingListItem(shoppingListItemToUpdate);
    }
}
