@page "/shoppinglist/overview"
@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListClient Client

<h3>Overview</h3>

<div class="form-actions no-color esh-link-list" style="padding-bottom: 20px; font-size: 18px;">
    <a href="/shoppinglist/addlist/" class="esh-link-item">
        Create
    </a>
</div>

@if (shoppingLists == null)
{
    <p><em>Loading...</em></p>
}
else if (!shoppingLists.Any())
{
    <p><em>There are currently no shopping lists</em></p>
}
else
{
    <table style="font-size: 20px;">
        <tr>
            <th style="width: 165px;">
                Shopping Date
            </th>
            <th style="width: 155px;">
                Date Created
            </th>
            <th style="width: 155px;">
                Total Amount
            </th>
            <th style="width: 175px;">
                Number of Items
            </th>
            <th style="width: 255px;">
                Estimated Total Amount
            </th>
            <th style="width: 95px;"></th>
            <th style="width: 65px;"></th>
            <th style="width: 75px;"></th>
            <th style="width: 130px;"></th>
        </tr>
        @foreach (var shoppingList in shoppingLists)
        {
    <tr>
        <td>
            @shoppingList.ShoppingDate.ToString("dd MMM yyyy")
        </td>
        <td>
            @shoppingList.DateCreated.ToString("dd MMM yyyy")
        </td>
        <td style="text-align: center">
            @shoppingList.TotalAmount
        </td>
        <td style="text-align: center">
            @shoppingList.NumberOfItems
        </td>
        <td style="text-align: center">
            @shoppingList.EstimatedTotalAmount
        </td>
        <td>
            <a href="@($"shoppinglist/displaylist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                Display
            </a>
        </td>
        <td>
            <a href="@($"shoppinglist/editlist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                Edit
            </a>
        </td>
        <td>
            @if (shoppingList.NumberOfItems == 0)
            {
                <a href="@($"shoppinglist/deletelist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                    Delete
                </a>
            }
        </td>
        <td>
            @if (shoppingList.NumberOfItems > 0)
            {
                <a href="@($"shoppinglistitem/displaylist/0/{shoppingList.ShoppingListID}")" class="esh-table-link">
                    View Items
                </a>
            }
            </td>
        <td>
            @if (shoppingList.NumberOfItems > 0)
            {
                <a href="@($"shoppinglistitem/instorelist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                    In Store List
                </a>
            }
        </td>
    </tr>
        }
    </table>
}

@code {
    protected List<ShoppingList> shoppingLists;

    protected override async Task OnInitializedAsync()
    {
        shoppingLists = await Client.GetShoppingLists();
    }
}
