@page "/shoppinglist/overview"
@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListClient Client

<h3>Overview</h3>

<div class="form-actions no-color esh-link-list" style="padding-bottom: 20px">
    <a href="/shoppinglist/addlist/" class="esh-link-item">
        Create
    </a>
</div>

@if (shoppingLists == null)
{
    <p><em>Loading...</em></p>
}
else if (!shoppingLists.Any())
{
    <p><em>There are currently no shopping lists</em></p>
}
else
{
    <table>
        <tr>
            <th>
                Shopping Date
            </th>
            <th>
                Date Created
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Number of Items
            </th>
            <th>
                Estimated Total Amount
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var shoppingList in shoppingLists)
        {
    <tr>
        <td>
            @shoppingList.ShoppingDate.ToString("dd MMM yyyy")
        </td>
        <td>
            @shoppingList.DateCreated.ToString("dd MMM yyyy")
        </td>
        <td>
            @shoppingList.TotalAmount
        </td>
        <td>
            @shoppingList.NumberOfItems
        </td>
        <td>
            @shoppingList.EstimatedTotalAmount
        </td>
        <td>
            <a href="@($"shoppinglist/displaylist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                Display
            </a>
        </td>
        <td>
            <a href="@($"shoppinglist/editlist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                Edit
            </a>
        </td>
        <td>
            @if (shoppingList.NumberOfItems == 0)
            {
                <a href="@($"shoppinglist/deletelist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                    Delete
                </a>
            }
        </td>
        <td>
            <a href="@($"shoppinglistitem/displaylist/0/{shoppingList.ShoppingListID}")" class="esh-table-link">
                View Items
            </a>
        </td>
        <td>
            <a href="@($"shoppinglistitem/instorelist/{shoppingList.ShoppingListID}")" class="esh-table-link">
                In Store List
            </a>
        </td>
    </tr>
        }
    </table>
}

@code {
    protected List<ShoppingList> shoppingLists;

    protected override async Task OnInitializedAsync()
    {
        shoppingLists = await Client.GetShoppingLists();
    }
}
